@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Creato";
  src: url("../fonts/CreatoDisplay-Bold.woff2") format("woff2"),
    url("../fonts/CreatoDisplay-Bold.woff") format("woff"),
    url("../fonts/CreatoDisplay-Bold.ttf") format("truetype"),
    url("../fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("../fonts/CreatoDisplay-Regular.woff2") format("woff2"),
    url("../fonts/CreatoDisplay-Regular.woff") format("woff"),
    url("../fonts/CreatoDisplay-Regular.otf") format("opentype"),
    url("../fonts/CreatoDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato";
  src: url("../fonts/CreatoDisplay-ExtraBold.woff2") format("woff2"),
    url("../fonts/CreatoDisplay-ExtraBold.woff") format("woff"),
    url("../fonts/CreatoDisplay-ExtraBold.ttf") format("truetype"),
    url("../fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica2";
  src: url("../fonts/Helvetica.ttf") format("truetype");
  src: url("../fonts/Helvetica.woff") format("woff");
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica2";
  src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
  src: url("../fonts/Helvetica-Bold.woff2") format("woff");
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Creato", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

::-moz-selection {
  color: white;
  background: #00bbff;
}

::selection {
  color: white;
  background: #00bbff;
}

h1 {
  margin: 0;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  display: block;
  font-weight: bold;
  font-size: 1.17em;
}
h4 {
  display: block;
  font-weight: bold;
  font-size: 1em;
}
h5 {
  font-weight: bold;
  display: block;
}
h6 {
  display: block;
  font-weight: bold;
  font-size: 0.67em;
}
/* 
.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5,
.markdown-container h6 {
  margin-top: 20px !important;
} */

ol,
ul,
menu {
  list-style: auto;
  margin: 0;
  padding: 0;
}

.markdown-container > * {
  all: revert;
}
